
<main>
  <h1><%= title %></h1>
  <form action="/players" method="POST">
    <p>If you'd like to have your name listed to play, please click the button below.</p>
    <button type="submit">put me in coach!</button>
  </form>
</main>