  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div>
      <div class="icon">
        <a href="/"><i class="fa-solid fa-house"></i></a>
      </div>
      <div class="icon">
        <a href="/runs/new"><i class="fa-solid fa-circle-plus"></i></a>
      </div>
      <div class="icon">
        <a href="/runs"><i class="fa-regular fa-calendar-days"></i></a>
      </div>
      <div class="icon">
        <a href="/profiles"><i class="fa-solid fa-people-group"></i></a>
      </div>
      <% if (user) { %>
        <div class="icon">
          <a href="/auth/logout" class="right">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </div>
      <% } else { %>
        <div class="icon">
          <div 
            id="g_id_onload"
            data-client_id="<%= googleClientID %>"
            data-login_uri="/auth/google"
            data-auto_prompt="false"
          ></div>
          <div 
            class="g_id_signin right"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left"
          ></div>
        </div>
      <% } %>
    </div>
  </nav>
