<h1><%= title %></h1>
<a href="/schedule/sunday">Sunday</a>
<a href="/schedule/monday">Monday</a>
<a href="/schedule/tuesday">Tuesday</a>
<a href="/schedule/wednesday">Wednesday</a>
<a href="/schedule/thursday">Thursday</a>
<a href="/schedule/friday">Friday</a>
<a href="/schedule/saturday">Saturday</a>