<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>

  <form id="new-run-form" action="/runs" method="POST">
    <div>
      <label>Date:</label>
      <input type="date" name="date">
    </div>
    <div>
      <label>Start Time:</label>
      <select name="starttime">
        <option value="5:00 PM">5:00 PM</option>
        <option value="6:00 PM">6:00 PM</option>
        <option value="7:00 PM">7:00 PM</option>
        <option value="8:00 PM">8:00 PM</option>
        <option value="9:00 PM">9:00 PM</option>
        <option value="10:00 PM">10:00 PM</option>
        <option value="11:00 PM">11:00 PM</option>
        <option value="12:00 AM">12:00 AM</option>
      </select>
    </div>
    <div>
      <label>End Time:</label>
      <select name="endtime">
        <option value="5:00 PM">5:00 PM</option>
        <option value="6:00 PM">6:00 PM</option>
        <option value="7:00 PM">7:00 PM</option>
        <option value="8:00 PM">8:00 PM</option>
        <option value="9:00 PM">9:00 PM</option>
        <option value="10:00 PM">10:00 PM</option>
        <option value="11:00 PM">11:00 PM</option>
        <option value="12:00 AM">12:00 AM</option>
      </select>
    </div>
    <div>
      <label>Location:</label>
      <input type="text" name="location">
    </div>
    <div>
      <label>Host:</label>
      <input type="text" name="host">
    </div>
    <div>
      <label>Note:</label>
      <input type="text" name="note">
    </div>
    <div>
      <button type="submit">Add Run</button>
    </div>
  </form>

</main>

<%- include('../partials/footer') %>