<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main id="bottom">
  <div>
    <% if (user) { %>
      <h1>hello <%= user ? user.profile.name : "" %></h1>
    <% } %> 
  </div>
</main>

<%- include('./partials/footer') %>
