<h1><%= title %></h1>
<a href="/schedules/sunday">Sunday</a>
<a href="/schedules/monday">Monday</a>
<a href="/schedules/tuesday">Tuesday</a>
<a href="/schedules/wednesday">Wednesday</a>
<a href="/schedules/thursday">Thursday</a>
<a href="/schedules/friday">Friday</a>
<a href="/schedules/saturday">Saturday</a>