<h1><%= title %></h1>
<h2>Court A</h2>
<!-- <form action="/schedule/sunday" method="POST">
  <select name="playerId">
    <#% players.forEach(player => { %>
      <option value="<#%= player._id %>"><#%= player.name %></option>
      <#% }) %>
  </select>
  <button type="submit">Add Player</button>
</form> -->
<h2>Court B</h2>