html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #1B1C1E;
  color: #edeaeae0;;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Roboto', system-ui, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #1B1C1E;
  padding: 10px;
  border-bottom: 1px solid #ECF3F4;
  height: 60px;
  width: 100%;
}

main {
  display: flex;
  background-image: url('../images/IMG_0248.PNG');
  background-size: cover;
  background-position: top;
  justify-content: center;
  height: calc(100vh - 60px);
  width: 100%;
}

main > div {
  margin-top: 50px;
}

nav > div {
  display: flex;
}

a {
  color: #ECF3F4;
  font-size: 20px;
} 

a:hover {
  color: rgb(207, 93, 93);
}

div.icon {
  align-self: center;
  padding: 0 20px;
}

.fa-solid::before {
  font-family: "Font Awesome 5 Free";
} 

.fa-regular::before {
  font-family: "Font Awesome 5 Free";
}

@media only screen and (max-width: 480px) {
  body {
    max-width: 480px;
  }

  nav {
    padding: 5px;
    height: 40px;
  }
  
  main {
    background-image: url('../images/App_Background.png');
  }

  div.icon {
    padding: 8px;
  }

  main > div {
    max-width: 200px; 
    margin-top: 30px;
  }

  h1 {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }
} 