html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: rgb(4, 29, 37);
  color: #edeaeae0;;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  flex-direction: column;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;

}

nav {
  display: flex;
  background-color: rgb(4, 29, 37);
  padding: 10px;
  border-bottom: 1px solid #ECF3F4;
  width: 100%;
  justify-content: center;
}

main {
  background-image: url('../images/IMG_0248.PNG');
  background-size: cover;
  border: 1px solid red;
  width: 100%;
}

main > div {
  margin-top: 50px;
  text-align: center;
}

nav > div {
  display: flex;
  flex-direction: row;
}

div.icon {
  align-self: center;
  padding: 0 30px;
}

a {
  color: #ECF3F4;
  font-size: 20px;
} 

.fa-solid::before {
  font-family: "Font Awesome 5 Free";
} 

.fa-regular::before {
  font-family: "Font Awesome 5 Free";
}