<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/notes/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <h2>Notes</h2>
  <h2>Stats</h2>
  <h2>Goals</h2>
</main>

<%- include('../partials/footer') %>